body {
	margin: 0;
	padding: 0;
	font-family:'Arial';
	background: url(background.jpg);
	background-size: cover;  
}

.wrap {
	width: 400px;
	padding: 40px;
	overflow: hidden;
	position: absolute;
	margin: auto;
	top:10%;
	left: 50%;
	transform: translate(-50%, 50%);
	background: transparent ;
	text-align: center;
	border: 1px solid sliver;
}

.wrap input{
width: 200px;
height: 35px;
margin-bottom: 15px;
border-radius: 15px;
border: 1px solid sliver;
padding: 5px;
}

.wrap .btn-login {
	padding: 5px;
	width: 200px;
	height: 35px;
	border: none;
	font-size: 18px; 
}























